*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('./fonts/Poppins-Bold.woff2') format('woff2'),
        url('./fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.main-container{
    background-color: #FFFFFF;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    align-items: center;
    .header-logo{
        width: 100%;
        max-width: 150px;
        img{
            width: 100%;
        }
    }
    .button{
        font-size: 16px;
        line-height: 22px;
        border: 1px solid #FF52C1;
        color: #FF52C1;
        border-radius: 20px;
        box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
        padding: 9px 30px;
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            border: 1px solid #FF8ED7;
            color: #FF8ED7;
        }
    }

}
    .huddle-text-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        text-align: center;
        h1{
            font-size: 35px;
            line-height: 72px;
            font-family: 'Poppins-bold';
            color: #00252E;
        }
        .huddle-paragraph{
            max-width: 600px;
            width: 100%;
            margin-top: 22px;
            p{
            font-size: 20px;
            line-height: 30px;
            color: #00252E;
            text-align: center;
            }
        }
        .free-button{
            margin-top: 44px;
        }
        .start-button{
            font-size: 20px;
            line-height: 30px;
            background-color: #FF52C1;
            color: #fff;
            font-weight: 700;
            padding: 25px 100px;
            text-decoration: none;
            border-radius: 40px;
            
            box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.2);
            transition: 0.5s;
            	
            &:hover{
                background-color: rgba(255, 142, 215, 1);
                transform: translateY(-2px)
            }
        }
    }
    .second-page{
        margin-top: 100px;
        .image-box{
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
            height: 600px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .diagram-box{
        display: flex;
        justify-content: space-evenly;
        padding: 70px;
        .community-diagram{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .icon-diagram{
                max-width: 55px;
                width: 100%;
                height: 41px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            span{
                color: #00252E;
                font-weight: 700;
                font-size: 80px;
                display: block;
                text-align: center;
            }
            p{
                font-size: 24px;
                color: #808E9A;
                text-align: center;
            }
        }
    }
    .grow-together-page{
        background-image: url(./images/Path\ 5.png);
        background-size: cover;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    
    }
    .grow-text-box{
        h3{
            color: #00252E;
            font-size: 40px;
             font-family: 'Poppins-bold';
        }
        .grow-paragraph{
            max-width: 500px;
            width: 100%;
            margin-top: 15px;

            p{
                font-size: 16px;
                color: #00252E;
                line-height: 24px;
            }
        }
    }
    .grow-image{
        max-width: 517px;
        height: 423px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }
    }

    .conversation-together-page{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 150px 0 50px;
        flex-direction: row-reverse;
                .grow-paragraph{
                    max-width: 528px;
                    width: 100%;

            p{
                font-size: 16px;
                color: #00252E;
                line-height: 24px;
            }
        }
    
    }
    .users-page{
        height: 800px;
        background-image: url(./images/Path\ 6.png);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 150px 0 50px;
                .grow-paragraph{
                max-width: 528px;
                width: 100%;

            p{
                font-size: 16px;
                color: #00252E;
                line-height: 24px;
            }
        }
    
    }

    .build-free{
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .build-title{
            max-width: 344px;
            width: 100%;

            h1{
               font-size: 40px;
               color: #00252E;
            }
        }
        .start-button{
            font-size: 20px;
            line-height: 30px;
            background-color: #FF52C1;
            color: #fff;
            font-weight: 700;
            padding: 25px 100px;
            text-decoration: none;
            border-radius: 40px;
            margin-top: 44px;
            box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.2);
            transition: 0.5s;
            	
            &:hover{
                background-color: rgba(255, 142, 215, 1);
        
                transform: translateY(-2px)
            }
        }
    }
footer{
    background-image: url(./images/Path\ 4.png);
    
}
.footer-container{
    display: flex;
    justify-content: space-around;
    
    padding: 12% 0 3%;
  
}
    .footer-logo{
        width: 100%;
        max-width: 150px;
        img{
            width: 100%;
        }
    }

.info-paragraph{
    max-width: 340px;
    width: 100%;
    margin-top: 18px;
    p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
    }
}
.contact-info{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    span{
        font-size: 16px;
        color: #fff;
        margin-left: 20px;
        text-decoration: none;
    }
}
.phone-box{
    display: flex;
    align-items: center;
    
}
.phone-icon{
    max-width: 20px;
    width: 100%;
    height: 20px;
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}

.email-box{
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.email-icon{
    max-width: 20px;
    width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
    
        }
}
.social-networks{
    display: flex;
    
    .network-img{
        margin: 40px 20px 0 0 ;
        max-width: 30px;
        width: 100%;

        .social{
            width: 100%;
            
        }
    }
}
.newsletter-box{
    h2{
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Poppins-bold';
    }
}
.newsletter-paragraph{
    max-width: 344px;
    width: 100%;
    margin-top: 16px;
    p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
    }
}
.subscribe-box{
    margin-top: 40px;
    display: flex;

}
.input-email{
   
    #email{
        outline: none;
        border: unset;
        width: 320px;
        height: 48px;
        border-radius: 6px;
        color: #00252E;
        padding-left: 10px;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;
    
    }
    #error{
        margin-top: 2px;
        span{
           color: #FF4343;
           font-size: 12px;
           line-height: 24px;
         
        }
    }
}
.subscribe-bottom{
    max-width: 160px;
    width: 100%;
    height: 48px;
    margin-left: 33px;
    
    #submit-click{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        height: 100%;
        padding: 12px 41px;
        
        color: #fff;
        background-color: #FF52C1;
        border: unset;
        border-radius: 5px;
        transition: 0.4s;
        &:hover{
            cursor: pointer;

        background-color:#FF8ED7
        }
    }
}

@media only screen and (max-width: 992px) {
    header{

        .header-logo{
            max-width: 96px;
            width: 100%;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
        .button{
            padding: 5px 18px;
            font-size: 10px;
        }
    }
    .huddle-text-box{
        h1{
            font-size: 24px;
            line-height: 36px;

        }
        .huddle-paragraph{
            max-width: 296px;
            p{
                font-size: 14px;
                line-height: 21px;
            }
        }
        .start-button{
            font-size: 12px;
            padding: 11px 40px;
        }
    }
    .diagram-box{
        flex-direction: column;
    }
    .grow-together-page{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 30px 0;
    }
    .grow-image{
        max-width: 517px;
        height: 280px;
        display: flex;
        justify-content: center;
        img{
            width: 85%;
            height: 100%;
            object-fit: contain;
            
        }
    }
    .grow-text-box{
        text-align: center;
        margin-top: 50px;
        h3{
            font-size: 25px;
        }
        .grow-paragraph{
            max-width: 320px;
            p{

                font-size: 14px;
            }
        }
    }
    .conversation-together-page{
        flex-direction: column-reverse;
        padding: 30px 0;
        min-height: 600px;
        height: unset;

    }
    .users-page{
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 60px 0;
        min-height: 600px;
        height: unset;

    }
    .subscribe-box{
        flex-direction: column;
    }
    .input-email{
        #email{

        
        }
    }
    .subscribe-bottom{
        margin-left: 0;
        margin-top: 16px;
       
        #submit-click{

        }
        
    } 

    .second-page{
        margin-top: 100px;

        .image-box{
            height: unset;
            display: flex;
            justify-content: center;
            img{
                width: 95%;
                height: 75%;
            }
        }
    }
    .diagram-box{
        .community-diagram{
            padding: 47px 0;
            p{
                font-size: 18px;
            }
            span{
                font-size: 60px;
            }
        }
    }
    .build-free{
        .build-title{

            h1{
                font-size: 24px;
                text-align: center;
            }
        }
        .start-button{
            padding: 11px 40px;
            font-size: 12px;
            margin-top: 24px;
        }
    }
    footer{
        background-image: url(./images/Path\ 4\ Copy.png);
        background-size: cover;
    }
    .footer-container{    
    flex-direction: column-reverse;
    padding: 20% 7% 3%;
    }
    .info-box{
        margin-top: 90px;
    }
    .newsletter-box{
        h2{
            font-size: 20px;
        }
    }
    .subscribe-box{
        align-items: flex-end;
    }
    .contact-info{
        span{
            font-size: 14px;
        }
    }
    .social-networks{
        .network-img{
            max-width: 23px;
            margin: 35px 20px 15px 0px;
        }
    }

  }
